/*.pokedex {
	background-image: url('https://img00.deviantart.net/a6fb/i/2015/120/2/2/pokedex_by_dorifutorabbit-d38eqri.png');
	background-repeat: no-repeat;
	height: 600px;
}*/
body {
	margin: 0 auto;
	text-align: center;
}

.pokedex {
	width: 400px;
	height: 400px;
	background-color: white;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
	border: solid 5px red;
}

li {
	text-align: left;
	margin-left: 40px;
}
p {
	text-align: left;
	margin-left: 40px;
}

.favorites {
	display: inline-block;
	width: 200px;
	height: 410px;
	background-color: red;
	vertical-align: top;
	position: relative;
	overflow-wrap: break-word;
	overflow: scroll;
}

.star {
	height: 50px;
	position: relative;
	top: 5px;
	right: 170px;
}
.sprite_display {
	position: relative;
	left: 10px;
	bottom: 15px;
	height: 100px;
	width: 380px;
	text-align: center;
	overflow: scroll;
}
.pokemon {
	margin: 10px
}

.sprite img{
	display: inline-block;
	vertical-align: top;
}
