/*.pokedex {
	background-image: url('https://img00.deviantart.net/a6fb/i/2015/120/2/2/pokedex_by_dorifutorabbit-d38eqri.png');
	background-repeat: no-repeat;
	height: 600px;
}*/
body {
	margin: 0 auto;
	text-align: center;
}

.pokedex {
	width: 400px;
	height: 400px;
	background-color: pink;
	margin: 0 auto;
}

li {
	text-align: left;
	margin-left: 40px;
}
p {
	text-align: left;
	margin-left: 40px;
}