/*.pokedex {
	background-image: url('https://img00.deviantart.net/a6fb/i/2015/120/2/2/pokedex_by_dorifutorabbit-d38eqri.png');
	background-repeat: no-repeat;
	height: 600px;
}*/
body {
	margin: 0 auto;
	text-align: center;
}

.pokedex {
	width: 400px;
	height: 400px;
	background-color: pink;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}

li {
	text-align: left;
	margin-left: 40px;
}
p {
	text-align: left;
	margin-left: 40px;
}

.favorites {
	display: inline-block;
	width: 200px;
	height: 400px;
	background-color: teal;
	vertical-align: top;
	position: relative;
	overflow-wrap: break-word;
	overflow: scroll;
}

.star {
	height: 50px;
	position: relative;
	top: -40px;
	left: -120px;
}
.sprite {
	position: relative;
	right: 25px;
	top: 30px;
}